<div class="modal-header">
    <h3 class="modal-title">Alta del Chofer</h3>
</div>
<div class="modal-body" >
  

     <form name="formValidate" class="form-horizontal form-validation" novalidate>
                
            <div class="panel-body" >                    
		              <div class="form-group">
		                <label class="label-documento control-label" >Documento:</label>
		             
		             	<input type="text" class="imput-documento form-control ng-dirty ng-valid-parse ng-valid-required ng-invalid ng-invalid-pattern ng-touched" ng-model="chofer.documento" placeholder="Sólo Números" ng-pattern="/^[0-9]+$/"  required="true" tabindex="0" aria-required="false" aria-invalid="true" >
               	      </div>

		              <div class="form-group">
                		<label  class="label-nombres">Nombres:</label>
                		
                		<input type="text" class=" input-nombres form-control ng-dirty ng-valid-parse ng-valid-required ng-invalid ng-invalid-pattern ng-touched"  ng-pattern="/^[a-zA-Z ]{2,45}$/" required="true" tabindex="0" aria-required="true" aria-invalid="true"  placeholder="Sólo Letras - hasta 45 caractéres." ng-model="chofer.nombres">
              		  </div> 

              		  <div class="form-group">
                		<label class="label-apellido" >Apellido:</label>
                		<input type="text" class="input-apellido form-control ng-dirty ng-valid-parse ng-valid-required ng-valid ng-valid-pattern ng-touched" placeholder="Sólo Letras - hasta 45 caractéres."  ng-pattern="/^[a-zA-Z ]{2,45}$/" required="true" tabindex="0" aria-required="false" aria-invalid="false" ng-model="chofer.apellido">
              		  </div> 		

              		   <div class="form-group">
                		<label class="label-telefono">Teléfono (XXXX-XXXX):</label>
                			<input type="text" class="input-telefono form-control ng-pristine ng-valid-pattern ng-touched" placeholder=""  ng-model="chofer.telefono" ng-pattern="/^([0-9]{4})-([0-9]{4})$/"  tabindex="0"  aria-invalid="false" >
              		  </div> 	

              		   <div class="form-group">
                		<label class="label-celular" >Celular (15 XXXX-XXXX):</label>
                		 <input type="text" class="input-celular form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" placeholder=""  ng-pattern="/^15 ([0-9]{4})-([0-9]{4})$/"  tabindex="0"   ng-model="chofer.celular">
              		  </div> 	

              		  <div class="form-group">
                		<label class="label-direccion">Dirección </label>
                		 <input type="text" class="input-direccion form-control ng-pristine  ng-invalid ng-invalid-required ng-touched" placeholder=""   ng-pattern="/^[a-zA-Z 0-9]{2,100}$/" tabindex="0" ng-model="chofer.direccion">
              		  </div> 	

              		  <div class="form-group">
                		<label class="label-email">E-Mail </label>
                		<input type="input-email" class="input-email form-control ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-touched" placeholder="Email hasta 50 caractéres." tabindex="0"  ng-model="chofer.mail">
              		  </div> 

            </div>
         	 <footer class="panel-footer text-right bg-light lter" style="width:1oopx;">
          	  <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
              <button  class="btn btn-success" ng-click="ok()"  ng-disabled="!formValidate.$valid">Grabar</button>
            </footer>
     
       </form>

</div>