<!--<div ng-controller="ChoferesCtrl" ng-init="inicio()"> -->
<div  ng-init="inicio()"> 
	
	<div class="row-fluid">
		<div class="col-md-12 col-md-offset-11" >
			<div class="btn-group open" dropdown="" is-open="status.isopen">
            <button type="button" class="btn btn-primary" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="true" aria-disabled="false" style="margin-top: 5px">
              Acción <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
             <li><a href="" ng-click="open()">Alta</a></li> 
              <li><a href="" ng-click="openActualiza()" >Modificación</a></li>
              <li><a href="" ng-click="openAlertBaja('sm')">Baja</a></li>
            </ul>
          </div>
		</div>

	</div>
	<div class="row-fluid">
		<div class="col-md-12">
									<div class="wrapper-md">
									  <div class="panel panel-default">
									    
									    <div class="table-responsive">
									      <table id="data" class="display" ui-jq="dataTable" ui-refresh="refresh" ui-options="{
									      	  destroy : true,
									          data: {{choferes}},
									          aoColumns: [
									            { mData: 'documento', sWidth: '5%' },
									            { mData: 'nombre' , sWidth: '20%'},
									            { mData: 'apellido'},
									            { mData: 'tel_fijo'},
									            { mData: 'tel_cel', sWidth: '20%'},
									            { mData: 'direccion', sWidth: '50%'},
									            { mData: 'email'}
									          ]
									        }" class="table table-striped b-t b-b">
									        <thead>
									          <tr>
									            <th  style="width:20%">Documento</th>
									            <th  style="width:25%">Nombre</th>
									            <th  style="width:25%">Apellido(s)</th>
									            <th  style="width:15%">Teléfono</th>
									            <th  style="width:15%">Celular</th>
									            <th  style="width:15%">Dirección</th>
									            <th  style="width:15%">Email</th>
									          </tr>
									        </thead>
									        <tbody id="data-tbody">
									        </tbody>
									      </table>
									    </div>
									  </div>
									</div>

						</div>
	</div>

</div>